@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --Slate900: hsl(218, 44%, 22%);

    --OutFit: "Outfit", sans-serif;
    --Weights-400: 400;
    --Weights-700: 700;

    --min-width: 1440px;
    --max-width: 320px;
    --padding: 15px 10px;
}

body {
    font-size: 15px;
    font-family: var(--OutFit);
    background: var(--Slate300);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    height: 100vh;
}

.qr-code-component-main {
    border-radius: 20px;
    background: var(--White);
    width: var(--max-width);
    /* padding: var(--padding); */
    margin: 10px;
}
.qr-code-component-main img{
    height: 100%;
    border-radius: 12px;
    margin-top: 15px;
}

.qr-code-component-title {
    padding: var(--padding);
    /* width: 100%; */
}

.qr-code-component-title h1{
    font-size: 22px;
    font-weight: var(--Weights-700);
}

.qr-code-component-title p{
    color: var(--Slate500);
    padding: var(--padding);
    font-weight: var(--Weights-400);
    margin: 5px 15px;

}

.attribution{
    padding: var(--padding);
}